#basic-nav-dropdown {
  display: flex;
  margin-left: 900px;
}

.dropdown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}

.userBtn {
  margin: 2px;
  width: 150px;
}

.navBar {
  margin: auto;
  display: flex;
  margin-top: 8px;
  /*height: 10vh;*/
  /*justify-content: center;*/
  flex-direction: row;
}

.buttonContainer {
  display: flex;
  margin-left: 900px;
}

.btn {
  margin-left: 0.2cm;
}


.leftNav {
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
}

.dashboard {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    font-size: 24px;
    color: white;
}
