.titleDashboard {
font-family: 'Roboto', sans-serif;
display: flex;
margin-left: 30px;
}

body {
  list-style: none;
}

.default {
  width: 250px;
  height: 200px;
}

.profileStats {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}
