.profileWrapper {
  border: solid red 1px;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin-top: 20px;
}



.profilePic {
  margin: auto;
  image-resolution: snap;
  max-width: 20%;
 height: auto;
}
.picContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
}


.profileInfoContainer {
    padding-left: 0.5cm;
    margin: auto;
    border: solid blue 1px;
    display: flex;
    flex-direction: column;

}


.textContainer {
  border: solid black 1px;
}



.profileTitle {
  display: flex;
  flex-direction: column;
  /*border: solid black 1px;*/
  margin: auto;
}


.ProfileFormContainer {

  justify-content: center;
  border: solid red 1px;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 1cm;
}

.EditButton {
  margin: auto;
  width: 6.5cm;
}
