

.tagContainer {
  /*border: solid black 1px;*/
  display: flex;
  flex-direction: column;
  /*border: solid black 1px;*/
  margin: auto;
}

.SingupInput {
  /*border: solid black 1px;*/
  margin: auto;
}


.calendar {
  width: 152px;
  height: 26px;
}



.signupButton {
  height: 4.5cm;
  margin: auto;
  width: 3cm;
}


.buttonContainer {
  /*border: solid black 1px;*/
  margin: auto;
padding-left: 0.2cm;

}



.SignUpWrapper {
  /*background-image: url('http://i.giphy.com/mzvNZsSok3Rao.gif');*/
  background-size: cover;
  margin-top: 3cm;
  /*border: solid red 2px;*/
  flex-direction: column;

}

.formContainerSignUp {
  margin: auto;
  padding: 1cm;
  justify-content: center;
  /*border: solid red 3px;*/
  display: flex;
  flex-direction: row;
  margin: auto;
    opacity: 0.8;
}

.SingupInput {
  display: flex;
  flex-direction: column;
  padding-left: 0.2cm;
}


.background {
  margin-top: -2.5cm;
}

.image {
  opacity: 0.6;
  position: relative;
  margin: auto;
  z-index: -3;
}
