

.title {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  /*border: solid black 1px;*/
  margin: auto;
}


.calendar {
  width: 152px;
  height: 26px;
}



.signup {
  margin: auto;
  width: 6.5cm;
}


form {
  display: inline-block;
  width: 300px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

input {
  margin-bottom: 10px;
  width: 245px;
}


.SignUpWrapper {
  /*height: 500px;*/
  /*width: 15cm;*/
  margin-top: 2cm;
  border: solid red 2px;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  /*justify-content: center;*/
}

.formContainerSignUp {
  padding: 1cm;
  justify-content: center;
  /*border: solid red 1px;*/
  display: flex;
  flex-direction: row;
  margin: auto;

  height: 500px;
}

.image {
  /*width: 100vw;
  height: 100vh;*/
  margin: auto;
    position: absolute;
}

.imageContainer {

  display: flex;

}
